
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-inverse-success btn-fw">{{ button_label|default('Save') }}<i class="mdi mdi-plus-circle"></i> </button>
{{ form_end(form) }}

