{% extends 'back.html.twig' %}

{% block title %}ReservationPack
{% endblock %}

{% block body %}
	<h1>ReservationPack</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ reservation_pack.id }}</td>
			</tr>
			<tr>
				<th>DateReservationPack</th>
				<td>{{ reservation_pack.dateReservationPack ? reservation_pack.dateReservationPack|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>NbrParticipantPack</th>
				<td>{{ reservation_pack.nbrParticipantPack }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_reservation_pack_indexback') }}">back to list</a>


{% endblock %}
